.videoMainInfo{
}

.videoSatisfactionRate{
    display: flex;
    justify-content: flex-end;
    height: min-content;
}

.videoSatisfactionRate_stat{
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
}

.videoSatisfactionRate_stat:hover{
    animation: 1s linear rotate;
}

@keyframes rotate{
    0% { transform: scale(1);} 
    25% { transform: scale(1.4);}
    50% { transform: scale(1.0);}
    75% { transform: scale(1.4);}
    100% { transform: scale(1);}
}





