.ProfilePlaylistCard {
    display: flex;
    color: white;
    width: 15rem;
    height: fit-content;
    color: black;
 }

 .ProfilePlaylistCard:hover {
    z-index: 100;
    transform: scale(1.1) translateX(0.2em);
 }

 .link {
    text-decoration: none;
    color: black;
}